## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [24]:
type([])

list

In [25]:
lst_example=[]

In [26]:
type(lst_example)

list

In [27]:
lst=list()

In [28]:
type(lst)

list

In [29]:
lst=['ML', 10.000, -3, True, 204]

In [30]:
len(lst)

5

In [31]:
type(lst)

list

## Append

In [32]:
#.append is used to add elements in the list
lst.append("New word")

In [33]:
lst.append(["New","List values"])

In [34]:
lst

['ML', 10.0, -3, True, 204, 'New word', ['New', 'List values']]

In [35]:
##Indexing in List
lst[6]

['New', 'List values']

In [43]:
lst[1:6]

[2, 3, 4, 5, 6]

## Insert

In [37]:
lst.insert(2,"insert into middle of list")

In [38]:
lst

['ML',
 10.0,
 'insert into middle of list',
 -3,
 True,
 204,
 'New word',
 ['New', 'List values']]

## Extend Method

In [39]:
lst=[1,2,3,4,5,6]

In [40]:
lst.extend([8,9])

In [41]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various Operations that we can perform in List

In [45]:
lst=[1,2,3,4,5]

In [46]:
sum(lst)

15

In [47]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop() Method

In [48]:
lst

[1, 2, 3, 4, 5]

In [49]:
lst.pop()

5

In [50]:
lst

[1, 2, 3, 4]

In [51]:
lst.pop(0)

1

In [52]:
lst

[2, 3, 4]

In [53]:
lst=[1,1,2,3,4,5]

In [54]:
lst.count(1)

2

In [55]:
len(lst)

6

In [57]:
lst

[1, 1, 2, 3, 4, 5]

In [58]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [59]:
##Min and Max
min(lst)

1

In [62]:
lst=[1,1,2,3,4,5,23,54,2323,32,22]

In [63]:
lst.index(23)

6

In [64]:
max(lst)

2323

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [65]:
## Defining an empy set
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [66]:
set_var={1,2,3,4,3}

In [67]:
set_var

{1, 2, 3, 4}

In [68]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [69]:
## Inbuilt function in sets

set_var.add("Hulk")

In [70]:
print(set_var)

{'Hulk', 'Hitman', 'Avengers', 'IronMan'}

In [71]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [72]:
set2.intersection_update(set1)

In [73]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [76]:
##Difference 
set2.difference(set1)

set()

In [75]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [79]:
## Difference update

set2.difference_update(set1)

In [80]:
print(set2)

set()

## Tuples

In [86]:
## create an empty Tuples

my_tuple=tuple()

In [87]:
type(my_tuple)

tuple

In [88]:
my_tuple=("ABB","VMWare","TEST")

In [89]:
my_tuple=('Hello','World')

In [90]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [91]:
type(my_tuple)

tuple

In [93]:
my_tuple=("ABB","VMWare","TEST")

In [94]:

## Inbuilt function
my_tuple.count('TEST')

1

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [95]:
dic={}

In [96]:
type(dic)

dict

In [97]:
type(dict())

dict

In [98]:
set_ex={1,2,3,4,5}

In [99]:
type(set_ex)

set

In [100]:

## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [101]:
type(my_dict)

dict

In [102]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [103]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [104]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [105]:

# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [106]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [107]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [108]:
my_dict['Car1']='Maruti'

In [109]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

## Nested Dictionary

In [112]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [113]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [114]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [115]:
print(car_type['car1']['Mercedes'])

1960